@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 150vh;
    background: linear-gradient(#2b1055, #7597de);
    overflow-x: hidden;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header a .logo {
    margin-left: -60px;
    width: 60px;
}
header a .maspion {
    margin-right: -60px;
    width: 100px;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#acro{
    left: 300px;
}
section img#gradasi{
    z-index: 9;
}
section img#gunung2{
    z-index: 8;
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, tran sparent);
    z-index: 1000;
}
#text{
    position: absolute;
    right: -250px;
    color: #ffff;
    white-space: nowarp;
    font-size: 7.5vw;
}
#btn {
    z-index: 7;
    margin-left: 30px;
    text-decoration: none;
    padding: 1px 30px;
    border-radius: 40px;
    background: #ffff;
    color: #2b1055;
    font-size: 15px;
    font-family: 'Poppins';
    font-style: normal;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-weight: 700;
    
        font-display: swap;
    display: inline-block;
        transform: translateY(130px);
    }
    
    #team {
        z-index: 7;
        margin-left: 30px;
        text-decoration: none;
        padding: 1px 30px;
        border-radius: 40px;
        background: #ffff;
        color: #2b1055;
        font-size: 15px;
        font-family: 'Poppins';
        font-style: normal;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    
    font-weight: 700;
    
        font-display: swap;
    display: inline-block;
    transform: translateY(-120px);
}
#music {
    position: relative;
    z-index: 8;
    margin-left: 10px;
    text-decoration: none;
    padding: 1px 10px;
    border-radius: 40px;
    background: #ffff;
    color: #2b1055;
    font-size: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    

    display: inline-block;
    transform: translateY(130px);
}
 .page3 p{
    font-size: 1.2em;
    color: #ffff;
}  
#openflip {
    z-index: 10;
    text-decoration: none;
    text-align: center;
    padding: 1px 50px;
    border-radius: 40px;
    background: #ffff;
    color: #2b1055;


    font-size: 13px;
    font-weight: bold;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;

    
    
    display: inline-block;
    margin-left: 45px;
    transform: translateY(180px);
}
footer{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;

    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    overflow: hidden;
    
}
#about {
    z-index: 7;
    margin-left: 35px;
    text-decoration: none;
    color: #ffff;
    font-family: 'Poppins';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    

    display: inline-block;
    transform: translateY(-130px);
}
#link {
    z-index: 7;
    margin-bottom: 10px;
    text-decoration: none;
    color: #ffff;
    font-size: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    

    display: inline-block;
    transform: translateY(-120px);
}
@media (max-width: 576px) {
    header a .logo {
        margin-left: -60px;
        width: 30px;
        
    }
    header a .maspion {
        margin-right: -60px;
        width: 60px;
    }
    section img#gunung1 {
        width: 100vw;
        height: 100vh;
    }
    section img#acro{
        width: 100px;
        height: 100px;
        left : -40%;
        transform: translateY(200px);
    }
    section img#gunung2 {
        width: auto;
        height: 100vh;
    }
    section img#gradasi {
        width: auto;
        height: 100vh;
    }
    section img#angin {
        width: auto;
        height: 100vh;
    }
    #btn {
        z-index: 7;
        margin-left: 15px;
        text-decoration: none;
        padding: 1px 15px;
        border-radius: 40px;
        background: #ffff;
        color: #2b1055;
        font-size: 10px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;


        display: inline-block;
        transform: translateY(100px);
    }
    #music {
        position: relative;
        z-index: 8;
        margin-left: 10px;
        text-decoration: none;
        padding: 1px 10px;
        border-radius: 40px;
        background: #ffff;
        color: #2b1055;
        font-size: 15px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;


        display: inline-block;
        transform: translateY(100px);
    }
    section img#page2 {
        width: auto;
        height: 100vh;
    }
    section img#awan {
        width: auto;
        height: 100vh;
    }
    section img#logokon {
        /* right: -900px; */
        left: -150px;
        width: 700px;
        height: 700px;
        transform: translateY(20px);
    }
    section img#giftt {
        width: auto;
        height: 100vh;
    }
    section img#vr {
        width: auto;
        height: 100vh;
    }
    section img#bg3bawah {
        width: auto;
        height: 100vh;
    }
    section img#bg3 {
        width: auto;
        height: 100vh;
    }
    section img#text2 {
        width: 0px;
        height: 0px;
    }
    section img#gift {
        top: -140px;
        width: 550px;
        margin-top: 60px;
        height: 550px;
        mix-blend-mode: screen;
        left: -90px;
        z-index: 10;
    }
    #openflip {
        z-index: 10;
        text-decoration: none;
        text-align: center;
        padding: 1px 50px;
        border-radius: 40px;
        background: #ffff;
        color: #2b1055;

        font-size: 13px;
        font-weight: bold;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;

        display: inline-block;
        margin-left: 240px;
        transform: translateY(100px);
    }
    section div.row ul li a#about {
        z-index: 7;
        margin-left: 25px;
        text-decoration: none;
        color: #ffff;
        font-family: 'Poppins';
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        
    
        display: inline-block;
        transform: translateY(10px);
    }
    section div.row ul li a#link {
        z-index: 7;
        margin-top: 5px;
        color: #ffff;
        font-size: 10px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        
    
        display: inline-block;
        transform: translateY(-10px);
    }

}
@media (min-width: 576px) and (max-width:768px ){
    header a .logo {
        margin-left: -60px;
        width: 60px;
        
    }
    header a .maspion {
        margin-right: -60px;
        width: 100px;
    }
    section img#gunung1 {
        width: 100vw;
        height: 100vh;
    }
    section img#acro{
        width: 700px;
        height: 700px;
        left : 5%;
        transform: translateY(10px);
    }
    section img#gunung2 {
        width: auto;
        height: 100vh;
    }
    section img#gradasi {
        width: auto;
        height: 100vh;
    }
    section img#angin {
        width: auto;
        height: 100vh;
    }
    #btn {
        z-index: 7;
        margin-left: 15px;
        text-decoration: none;
        padding: 1px 15px;
        border-radius: 40px;
        background: #ffff;
        color: #2b1055;
        font-size: 20px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;


        display: inline-block;
        transform: translateY(100px);
    }
    #music {
        position: relative;
        z-index: 8;
        margin-left: 10px;
        text-decoration: none;
        padding: 1px 20px;
        border-radius: 40px;
        background: #ffff;
        color: #2b1055;
        font-size: 20px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;


        display: inline-block;
        transform: translateY(100px);
    }
    section img#page2 {
        width: auto;
        height: 100vh;
    }
    section img#awan {
        width: auto;
        height: 100vh;
    }
    section img#logokon {
        /* right: -900px; */
        left: -150px;
        width: 1100px;
        height: 1100px;
        transform: translateY(20px);
    }
    section img#giftt {
        width: auto;
        height: 100vh;
    }
    section img#vr {
        width: auto;
        height: 100vh;
    }
    section img#bg3bawah {
        width: auto;
        height: 100vh;
    }
    section img#bg3 {
        width: auto;
        height: 100vh;
    }
    section img#text2 {
        width: 00px;
        height: 00px;
    }
    section img#gift {
        top: 10px;
        width: 580px;
        margin-top: 60px;
        height: 580px;
        mix-blend-mode: screen;
        left: -90px;
        z-index: 10;
    }
    #text4{
        z-index: 7;
        margin-left: 25px;
        text-decoration: none;
        color: #ffff;
        font-family: 'Poppins';
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        
    
        display: inline-block;
        transform: translateY(10px);
    }
    #openflip {
        z-index: 10;
        text-decoration: none;
        text-align: center;
        padding: 1px 50px;
        border-radius: 40px;
        background: #ffff;
        color: #2b1055;

        font-size: 20px;
        font-weight: bold;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;

        display: inline-block;
        margin-left: 10px;
        transform: translateY(100px);
    }
    section div.row ul li a#about {
        z-index: 7;
        margin-left: 25px;
        text-decoration: none;
        color: #ffff;
        font-family: 'Poppins';
        font-size: 2px;
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        
    
        display: inline-block;
        transform: translateY(10px);
    }
    section div.row ul li a#link {
        z-index: 7;
        margin-top: 0px;
        color: #ffff;
        font-size: 10px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        
    
        display: inline-block;
        transform: translateY(-130px);
    }
}
@media (min-width: 768px) and (max-width:992px ){
    header a .logo {
        margin-left: -60px;
        width: 60px;
        
    }
    header a .maspion {
        margin-right: -60px;
        width: 100px;
    }
    section img#gunung1 {
        width: 100vw;
        height: 100vh;
    }
    section img#acro{
        width: 700px;
        height: 700px;
        left : 10%;
        transform: translateY(10px);
    }
    section img#gunung2 {
        width: auto;
        height: 100vh;
    }
    section img#gradasi {
        width: auto;
        height: 100vh;
    }
    section img#angin {
        width: auto;
        height: 100vh;
    }
    #btn {
        z-index: 7;
        margin-left: 15px;
        text-decoration: none;
        padding: 1px 15px;
        border-radius: 40px;
        background: #ffff;
        color: #2b1055;
        font-size: 20px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;


        display: inline-block;
        transform: translateY(100px);
    }
    #music {
        position: relative;
        z-index: 8;
        margin-left: 10px;
        text-decoration: none;
        padding: 1px 20px;
        border-radius: 40px;
        background: #ffff;
        color: #2b1055;
        font-size: 20px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;


        display: inline-block;
        transform: translateY(100px);
    }
    section img#page2 {
        width: auto;
        height: 100vh;
    }
    section img#awan {
        width: auto;
        height: 100vh;
    }
    section img#logokon {
        /* right: -900px; */
        left: -150px;
        width: 1100px;
        height: 1100px;
        transform: translateY(20px);
    }
    section img#giftt {
        width: auto;
        height: 100vh;
    }
    section img#vr {
        width: auto;
        height: 100vh;
    }
    section img#bg3bawah {
        width: auto;
        height: 100vh;
    }
    section img#bg3 {
        width: auto;
        height: 100vh;
    }
    section img#text2 {
        width: 00px;
        height: 00px;
    }
    section img#gift {
        top: 10px;
        width: 580px;
        margin-top: 60px;
        height: 580px;
        mix-blend-mode: screen;
        left: -90px;
        z-index: 10;
    }
    #text4{
        z-index: 7;
        margin-left: 25px;
        text-decoration: none;
        color: #ffff;
        font-family: 'Poppins';
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        
    
        display: inline-block;
        transform: translateY(10px);
    }
    #openflip {
        z-index: 10;
        text-decoration: none;
        text-align: center;
        padding: 1px 50px;
        border-radius: 40px;
        background: #ffff;
        color: #2b1055;

        font-size: 20px;
        font-weight: bold;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;

        display: inline-block;
        margin-left: 10px;
        transform: translateY(100px);
    }
    section div.row ul li a#about {
        z-index: 7;
        margin-left: 25px;
        text-decoration: none;
        color: #ffff;
        font-family: 'Poppins';
        font-size: 2px;
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        
    
        display: inline-block;
        transform: translateY(10px);
    }
    section div.row ul li a#link {
        z-index: 7;
        margin-top: 0px;
        color: #ffff;
        font-size: 10px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        
    
        display: inline-block;
        transform: translateY(-130px);
    }
}
@media (min-width: 992px) and (max-width:1250px ){
    header a .logo {
        margin-left: -60px;
        width: 60px;
        
    }
    header a .maspion {
        margin-right: -60px;
        width: 100px;
    }
    section img#gunung1 {
        width: 100vw;
        height: 100vh;
    }
    section img#acro{
        width: 800px;
        height: 800px;
        left : 15%;
        transform: translateY(-10px);
    }
    section img#gunung2 {
        width: auto;
        height: 100vh;
    }
    section img#gradasi {
        width: auto;
        height: 100vh;
    }
    section img#angin {
        width: auto;
        height: 100vh;
    }
    #btn {
        z-index: 7;
        margin-left: 15px;
        text-decoration: none;
        padding: 1px 15px;
        border-radius: 40px;
        background: #ffff;
        color: #2b1055;
        font-size: 25px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;


        display: inline-block;
        transform: translateY(100px);
    }
    #music {
        position: relative;
        z-index: 8;
        margin-left: 10px;
        text-decoration: none;
        padding: 1px 25px;
        border-radius: 40px;
        background: #ffff;
        color: #2b1055;
        font-size: 25px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;


        display: inline-block;
        transform: translateY(100px);
    }
    section img#page2 {
        width: auto;
        height: 100vh;
    }
    section img#awan {
        width: auto;
        height: 100vh;
    }
    section img#logokon {
        /* right: -900px; */
        left: -110px;
        width: 1250px;
        height: 1250px;
        transform: translateY(20px);
    }
    section img#giftt {
        width: auto;
        height: 100vh;
    }
    section img#vr {
        width: auto;
        height: 100vh;
    }
    section img#bg3bawah {
        width: auto;
        height: 100vh;
    }
    section img#bg3 {
        width: auto;
        height: 100vh;
    }
    section img#text2 {
        width: 00px;
        height: 00px;
    }
    section img#gift {
        top: 10px;
        width: 580px;
        margin-top: 60px;
        height: 580px;
        mix-blend-mode: screen;
        left: -90px;
        z-index: 10;
    }
    #text4{
        z-index: 7;
        margin-left: 25px;
        text-decoration: none;
        color: #ffff;
        font-family: 'Poppins';
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        
    
        display: inline-block;
        transform: translateY(-80px);
    }
    #openflip {
        z-index: 10;
        text-decoration: none;
        text-align: center;
        padding: 1px 50px;
        border-radius: 40px;
        background: #ffff;
        color: #2b1055;

        font-size: 20px;
        font-weight: bold;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;

        display: inline-block;
        margin-left: 10px;
        transform: translateY(100px);
    }
    section div.row ul li a#about {
        z-index: 7;
        margin-left: 25px;
        text-decoration: none;
        color: #ffff;
        font-family: 'Poppins';
        font-size: 2px;
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        
    
        display: inline-block;
        transform: translateY(10px);
    }
    section div.row ul li a#link {
        z-index: 7;
        margin-top: 0px;
        color: #ffff;
        font-size: 10px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        
    
        display: inline-block;
        transform: translateY(-130px);
    }
}
@media (min-width: 1250px) and (max-width:1900px ){
    header a .logo {
        margin-left: -60px;
        width: 80px;
        
    }
    header a .maspion {
        margin-right: -60px;
        width: 120px;
    }
    section img#gunung1 {
        width: 100vw;
        height: 100vh;
    }
    section img#acro{
        width: 800px;
        height: 800px;
        left : 25%;
        transform: translateY(-90px);
    }
    section img#gunung2 {
        width: auto;
        height: 100vh;
    }
    section img#gradasi {
        width: auto;
        height: 100vh;
    }
    section img#angin {
        width: auto;
        height: 100vh;
    }
    #btn {
        z-index: 7;
        margin-left: 15px;
        text-decoration: none;
        padding: 1px 15px;
        border-radius: 40px;
        background: #ffff;
        color: #2b1055;
        font-size: 30px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;


        display: inline-block;
        transform: translateY(100px);
    }
    #music {
        position: relative;
        z-index: 8;
        margin-left: 10px;
        text-decoration: none;
        padding: 1px 25px;
        border-radius: 40px;
        background: #ffff;
        color: #2b1055;
        font-size: 30px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;


        display: inline-block;
        transform: translateY(100px);
    }
    section img#page2 {
        width: auto;
        height: 100vh;
    }
    section img#awan {
        width: auto;
        height: 100vh;
    }
    section img#logokon {
        /* right: -900px; */
        left: -9px;
        width: 1250px;
        height: 1250px;
        transform: translateY(20px);
    }
    section img#giftt {
        width: auto;
        height: 100vh;
    }
    section img#vr {
        width: auto;
        height: 100vh;
    }
    section img#bg3bawah {
        width: auto;
        height: 100vh;
    }
    section img#bg3 {
        width: auto;
        height: 100vh;
    }
    section img#text2 {
        width: 00px;
        height: 00px;
    }
    section img#gift {
        top: 10px;
        width: 580px;
        margin-top: 60px;
        height: 580px;
        mix-blend-mode: screen;
        left: -90px;
        z-index: 10;
    }
    #text4{
        z-index: 7;
        margin-left: 25px;
        text-decoration: none;
        color: #ffff;
        font-family: 'Poppins';
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        
    
        display: inline-block;
        transform: translateY(-80px);
    }
    #openflip {
        z-index: 10;
        text-decoration: none;
        text-align: center;
        padding: 1px 50px;
        border-radius: 40px;
        background: #ffff;
        color: #2b1055;

        font-size: 20px;
        font-weight: bold;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;

        display: inline-block;
        margin-left: 10px;
        transform: translateY(100px);
    }
    section div.row ul li a#about {
        z-index: 7;
        margin-left: 25px;
        text-decoration: none;
        color: #ffff;
        font-family: 'Poppins';
        font-size: 2px;
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        
    
        display: inline-block;
        transform: translateY(10px);
    }
    section div.row ul li a#link {
        z-index: 7;
        margin-top: 0px;
        color: #ffff;
        font-size: 10px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        
    
        display: inline-block;
        transform: translateY(-130px);
    }
}
@media (min-width: 1400px) and (max-width:1600px ){
    header a .logo {
        margin-left: -60px;
        width: 80px;
        
    }
    header a .maspion {
        margin-right: -60px;
        width: 120px;
    }
    section img#gunung1 {
        width: 100vw;
        height: 100vh;
    }
    section img#acro{
        width: 750px;
        height: 750px;
        left : 25%;
        transform: translateY(-10px);
    }
    section img#gunung2 {
        width: auto;
        height: 100vh;
    }
    section img#gradasi {
        width: auto;
        height: 100vh;
    }
    section img#angin {
        width: auto;
        height: 100vh;
    }
    #btn {
        z-index: 7;
        margin-left: 15px;
        text-decoration: none;
        padding: 1px 15px;
        border-radius: 40px;
        background: #ffff;
        color: #2b1055;
        font-size: 30px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;


        display: inline-block;
        transform: translateY(100px);
    }
    #music {
        position: relative;
        z-index: 8;
        margin-left: 10px;
        text-decoration: none;
        padding: 1px 25px;
        border-radius: 40px;
        background: #ffff;
        color: #2b1055;
        font-size: 30px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;


        display: inline-block;
        transform: translateY(100px);
    }
    section img#page2 {
        width: auto;
        height: 100vh;
    }
    section img#awan {
        width: auto;
        height: 100vh;
    }
    section img#logokon {
        /* right: -900px; */
        left: 120px;
        width: 1250px;
        height: 1250px;
        transform: translateY(20px);
    }
    section img#giftt {
        width: auto;
        height: 100vh;
    }
    section img#vr {
        width: auto;
        height: 100vh;
    }
    section img#bg3bawah {
        width: auto;
        height: 100vh;
    }
    section img#bg3 {
        width: auto;
        height: 100vh;
    }
    section img#text2 {
        width: 00px;
        height: 00px;
    }
    section img#gift {
        top: 10px;
        width: 580px;
        margin-top: 60px;
        height: 580px;
        mix-blend-mode: screen;
        left: -90px;
        z-index: 10;
    }
    #text4{
        z-index: 7;
        margin-left: 25px;
        text-decoration: none;
        color: #ffff;
        font-family: 'Poppins';
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        
    
        display: inline-block;
        transform: translateY(-80px);
    }
    #openflip {
        z-index: 10;
        text-decoration: none;
        text-align: center;
        padding: 1px 50px;
        border-radius: 40px;
        background: #ffff;
        color: #2b1055;

        font-size: 20px;
        font-weight: bold;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;

        display: inline-block;
        margin-left: 10px;
        transform: translateY(100px);
    }
    section div.row ul li a#about {
        z-index: 7;
        margin-left: 25px;
        text-decoration: none;
        color: #ffff;
        font-family: 'Poppins';
        font-size: 2px;
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        
    
        display: inline-block;
        transform: translateY(10px);
    }
    section div.row ul li a#link {
        z-index: 7;
        margin-top: 0px;
        color: #ffff;
        font-size: 10px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        
    
        display: inline-block;
        transform: translateY(-130px);
    }
}

