@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 150vh;
    background: linear-gradient(#2b1055, #7597de);
    overflow-x: hidden;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header a .logo {
    margin-left: -60px;
}
header a .maspion {
    margin-right: -60px;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#acro{
    left: 300px;
}


section img#gradasi{
    z-index: 9;
}
section img#gunung2{
    z-index: 8;
}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, tran sparent);
    z-index: 1000;
}

#text{
    position: absolute;
    right: -250px;
    color: #ffff;
    white-space: nowarp;
    font-size: 7.5vw;
}
#btn {
    z-index: 7;
    margin-left: 30px;
    text-decoration: none;
    padding: 1px 30px;
    border-radius: 40px;
    background: #ffff;
    color: #2b1055;
    font-size: 15px;
    font-family: 'Poppins';
    font-style: normal;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-weight: 700;
    
        font-display: swap;
    display: inline-block;
        transform: translateY(130px);
    }
    
    #team {
        z-index: 7;
        margin-left: 30px;
        text-decoration: none;
        padding: 1px 30px;
        border-radius: 40px;
        background: #ffff;
        color: #2b1055;
        font-size: 15px;
        font-family: 'Poppins';
        font-style: normal;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    
    font-weight: 700;
    
        font-display: swap;
    display: inline-block;
    transform: translateY(-120px);
}
#music {
    position: relative;
    z-index: 8;
    margin-left: 10px;
    text-decoration: none;
    padding: 1px 10px;
    border-radius: 40px;
    background: #ffff;
    color: #2b1055;
    font-size: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    

    display: inline-block;
    transform: translateY(130px);
}
 .page3 p{
    font-size: 1.2em;
    color: #ffff;
}  

#openflip {
    z-index: 10;
    text-decoration: none;
    text-align: center;
    padding: 1px 50px;
    border-radius: 40px;
    background: #ffff;
    color: #2b1055;


    font-size: 13px;
    font-weight: bold;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;

    
    
    display: inline-block;
    margin-left: 45px;
    transform: translateY(180px);
}

footer{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;

    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    overflow: hidden;
    
}
#about {
    z-index: 7;
    margin-left: 35px;
    text-decoration: none;
    color: #ffff;
    font-family: 'Poppins';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    

    display: inline-block;
    transform: translateY(-130px);
}
#link {
    z-index: 7;
    margin-bottom: 10px;
    text-decoration: none;
    color: #ffff;
    font-size: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    

    display: inline-block;
    transform: translateY(-120px);
}
@media (orientation: portrait) {
    header a .logo {
        margin-left: -90px;
        width: 5px;
    }

    header a .maspion {
        margin-right: -90px;
    }

    section img#background {
        width: auto;
        height: 100vh;
    }

    section img#gunung1 {
        width: auto;
        height: 100vh;
    }

    section img#acro {
        left: -140px;
        width: 100px;
        height: 100px;
        transform: translateY(250px);
    }

    section img#gunung2 {
        width: auto;
        height: 100vh;
    }

    section img#gradasi {
        width: auto;
        height: 100vh;
    }

    section img#angin {
        width: auto;
        height: 100vh;
    }

    #btn {
        z-index: 7;
        margin-left: 15px;
        text-decoration: none;
        padding: 1px 15px;
        border-radius: 40px;
        background: #ffff;
        color: #2b1055;
        font-size: 15px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;


        display: inline-block;
        transform: translateY(-50px);
    }

    #music {
        position: relative;
        z-index: 8;
        margin-left: 10px;
        text-decoration: none;
        padding: 1px 10px;
        border-radius: 40px;
        background: #ffff;
        color: #2b1055;
        font-size: 15px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;


        display: inline-block;
        transform: translateY(-50px);
    }

    section img#page2 {
        width: auto;
        height: 100vh;
    }

    section img#awan {
        width: auto;
        height: 100vh;
    }

    section img#logokon {
        /* right: -900px; */
        left: -140px;
        width: 700px;
        height: 700px;
        transform: translateY(100px);
    }

    section img#giftt {
        width: auto;
        height: 100vh;
    }

    section img#vr {
        width: auto;
        height: 100vh;
    }

    section img#bg3bawah {
        width: auto;
        height: 100vh;
    }

    section img#bg3 {
        width: auto;
        height: 100vh;
    }

    section img#text2 {
        width: 0px;
        height: 0px;
    }

    #openflip {
        z-index: 10;
        text-decoration: none;
        text-align: center;
        padding: 1px 50px;
        border-radius: 40px;
        background: #ffff;
        color: #2b1055;


        font-size: 13px;
        font-weight: bold;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;



        display: inline-block;
        margin-left: 280px;
        transform: translateY(250px);
    }

    section img#gift {
        top: 130px;
        width: 500px;
        height: 500px;
    }

}